main{
    margin: 20% auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    
    width: 90%;
}
#gameArea{
    margin-bottom: 20px;
}
#gameArea span{
    letter-spacing: 0.3rem;
    font-weight: bold;
    font-size: 10vh;
    text-transform: uppercase;
}
form input{
    max-width: 35px;
}
/* Rótulo */
label {
    font-size: 14px;
    font-weight: 600;
    color: #555;
}

/* Campo de entrada */
input {
    width: 93%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    transition: border-color 0.3s, background-color 0.3s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Botão */
button {
    background-color: #61bb46;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #4e9939;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}